@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <section class="personalia">

        <img class="person-logo" src="images/roey-pasfoto.png">
        <h1 class="person-name">Roey Langbroek</h1>

        <div class="arrow"></div>
        <div class="arrow-text">Klik op me!</div>

    </section>

    <section class="profile">

        <section class="profile-content">

            <div class="profile-content__category--hidden-mobile">
                <h2 class="profile-content__category-title">Profiel</h2>
                <hr>
            </div>

            <div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                    Welkom op mijn profiel, wat leuk dat je er bent!
                <p>
            </div>

            <div class="profile-container">
                <div class="profile-content__category">
                    <h4 class="profile-content__category-title">Opleidingen</h4>
                    <hr>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Economie & Maatschappij Havo</h4>
                        <p class="profile-content__period">sep 2018 - mei 2023</p>
                    </div>
                    <p class="profile-content__institute">
                        <a href="https://www.nassaucollege.nl/quintus/home/" target="_blank">
                            Dr. Nassau College Quintus, Assen
                        </a>
                    </p>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">HBO-ICT</h4>
                        <p class="profile-content__period">sep 2023 - heden</p>
                    </div>
                    <p class="profile-content__institute">
                        <a href="https://www.windesheim.nl" target="_blank">
                            Windesheim University of Applied Sciences, Zwolle
                        </a>
                    </p>
                </div>
            </div>

            <div class="profile-container">
                <div class="profile-content__category">
                    <h4 class="profile-content__category-title">Werkervaring</h4>
                    <hr>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Vulploegmedewerker</h4>
                        <p class="profile-content__period">aug 2024 - heden</p>
                    </div>
                    <p class="profile-content__institute">
                        <a href="https://www.lidl.nl" target="_blank">
                            LIDL, Assen
                        </a>
                    </p>
                </div>
            </div>

            <div class="profile-container">
                <div class="profile-content__category">
                    <h4 class="profile-content__category-title">Vaardigheden</h4>
                    <hr>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Programmeren</h4>
                    </div>
                    <div class="skills-container">
                        <a href="https://learn.microsoft.com/en-us/dotnet/csharp/" target="_blank">
                            <img class="C_sharp_logo" src="images/C_sharp.png" alt="C#" title="C#" />
                        </a>
                        <a href="https://isocpp.org/" target="_blank">
                            <img class="C_pp_logo" src="images/C_pp.png" alt="C++" title="C++" />
                        </a>
                    </div>
                    <div class="skills-container2">
                        <a href="https://www.php.net/" target="_blank">
                            <img class="PHP_logo" src="images/PHP.png" alt="PHP" title="PHP" />
                        </a>
                        <a href="https://www.java.com/" target="_blank">
                            <img class="Java_logo" src="images/Java.png" alt="Java" title="Java" />
                        </a>
                    </div>
                </div>
            </div>

        </section>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const personalia = document.querySelector(".personalia");

                const text = document.createElement("p");
                text.classList.add("hidden-text");
                text.innerHTML = "Als programmeur ben ik bekwaam in het ontwikkelen en implementeren van functionele en efficiënte applicaties die voldoen aan de behoeften van gebruikers.<br><br>Ik heb ervaring met het ontwerpen van gebruiksvriendelijke interfaces, het schrijven van goed gestructureerde code en het optimaliseren van prestaties.<br><br>Daarnaast ben ik in staat om problemen snel te analyseren en op te lossen, waardoor ik stabiele en betrouwbare software kan opleveren.";
                personalia.appendChild(text);

                personalia.addEventListener("transitionstart", function (event) {
                    if (event.propertyName === "height" && personalia.offsetHeight !== 900) {
                        text.style.opacity = "0";
                        text.style.display = "none";
                    }
                });

                personalia.addEventListener("transitionend", function (event) {
                    if (event.propertyName === "height" && personalia.offsetHeight === 900) {
                        text.style.display = "block";
                        setTimeout(() => {
                            text.style.opacity = "1";
                        }, 50);
                    }
                });
            });

        </script>

    </section>
</div>
